/* body {
    font-family: sans-serif;
} */

#help-window {
}

#load-file-window {
    position: absolute;
    bottom: 24%
}

#save-file-window {
    position: absolute;
    bottom: 6%;
}

div.side-window {
    max-width: 85%;
}

div#side-window-container {
    left: 70%;
    position: fixed;
    border-style: dashed;
    border-width: 1px;
    min-height: 90%;
    max-width: 25%;
    min-width: 25%;
    padding: 10px;
    margin: 10px;
}

#playbill-form {
    max-width: 65%;
}

a.button {
    text-decoration: none;
    border-radius: 4px;
    padding: 1px;
}

div {
    margin: 2px 4px 2px 12px;
}

div.subform-group {
    padding: 2px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

/* label,
h3.subheader {
    color: rgba(0, 0, 0, 0.7);
} */

div.ui-element {
    background: rgba(0, 0, 0, 0.05);
    padding: 4px 4px 4px 16px;
    border-radius: 4px;
    min-width: 30px;
}

input {
    max-width: 100%;
}

textarea.main-form-input {
    border-color: lightgray;
    border-width: 1px;
}

/* All noselect styles */
a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
